<main class="text-center form-signin">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= image_tag "kovapp.png", class: "mx-auto mb-4", alt: ""%>
    <%= f.error_notification %>
    <div class="form-inputs">
      <div class="form-floating">
        <%= f.input :login,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "login", class: "form-control" } %>
      </div>
      <div class="form-floating">
        <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "current-password", class: "form-control" } %>
      </div>
      <div class="checkbox mb-3">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log In", class: "w-100 btn btn-lg btn-primary" %>
    </div>
    <p class="mt-5 mb-3 text-muted">© 2021</p>
  <% end %>
  <%= render "devise/shared/links" %>
</main>